@charset "utf-8";
@import url('../fonts/SCoreDream/SCoreDream.css');
* {
  margin: 0;
  padding: 0;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  image-rendering: -webkit-optimize-contrast;backface-visibility: hidden;
}
::-webkit-scrollbar { width: 4px;height: 4px; }
::-webkit-scrollbar-track { background: #E0E0E0; }
::-webkit-scrollbar-thumb { background: #717171; border-radius: 999px; }
::-webkit-scrollbar-thumb:hover {  background: #575757; }

::selection{background-color: #2b82cb;color:#fff;}
:before,:after {
  margin: 0;
  padding: 0;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height:1.45;
}
 
html{font-size:62.5%;overflow-x: hidden;}
body{font-size:1.7rem;letter-spacing:-0.02em;}
body, th, td, input, select, textarea, button, code, kbd, pre, samp {
  font-family: 'SCoreDream','sans-serif';
  color: #2d2d2d;
  font-weight:400;
  line-height:1.45;
}
ul, ol, dl {
  list-style: none;
}
h1, h2, h3, h4, h5, h6, strong, th {
  font-weight: normal;
}

strong{
  font-weight:700;
}
b {
  font-weight: 600;
}
em{
  font-weight:5700;font-style: normal;
}
a {
    color: inherit;
    text-decoration: none;
}
a:active, a:hover {
    text-decoration: none;
}
textarea:focus,input:focus,select,button,.swiper-button-prev,.swiper-button-next,a{ outline: none; }
img:not(.kpd-image-button){max-width:100%;}
input[type="text"],input[type="password"],input[type="tel"],input[type="email"],textarea{-webkit-appearance: none;-moz-appearance: none;appearance: none;border-radius: 0px;box-shadow:0;}
select{border-radius:0;}
select::-ms-expand{display: none;}
.hide { display: none }
button{cursor:pointer;}
.float .left{float:left;}
.float .right{float:right;}
.clearfix{zoom:1}
.clearfix:after, .clearfix:before{display:table;content:"";}
.clearfix:after{clear: both;}
.underline{text-decoration:underline;}
.align_top{vertical-align:top}
.align_middle{vertical-align:middle}
.align_bottom{vertical-align:bottom}

.align_center{text-align:center !important}
.align_left{text-align:left !important}
.align_right{text-align:right !important}

.flex {display:flex !important;}
.inline_flex {display:inline-flex !important;}
.block {display:block !important;}
.inline_block {display:inline-block !important;}
.hide {display:none !important;}
.screen_hide{position: absolute;text-indent: -9999px;width: 0;height: 0;font-size: 0;line-height: 0;overflow: hidden;}
.sound_only { display: inline-block !important; position: absolute; top: 0; left: 0; width:0 !important; height:0 !important; margin: 0 !important; padding: 0 !important; font-size: 0 !important; line-height: 0 !important; border: 0 !important; overflow: hidden !important }
#skip_to_container a {z-index:100000;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0;overflow:hidden}
#skip_to_container a:focus, #skip_to_container a:active {width:100%;height:75px;background:#21272e;color:#fff;font-size:2em;font-weight:bold;text-align:center;text-decoration:none;line-height:3.3em}
.mgt0 {margin-top:0px !important;} .mgt5 {margin-top:5px !important;} .mgt10 {margin-top:10px !important;} .mgt15 {margin-top:15px !important;} .mgt20 {margin-top:20px !important;} .mgt25 {margin-top:25px !important;} .mgt30 {margin-top:30px !important;} .mgt35 {margin-top:35px !important;} .mgt40 {margin-top:40px !important;} .mgt45 {margin-top:45px !important;} .mgt50 {margin-top:50px !important;} .mgt55 {margin-top:55px !important;} .mgt60 {margin-top:60px !important;} .mgt65 {margin-top:65px !important;} .mgt70 {margin-top:70px !important;} .mgt75 {margin-top:75px !important;} .mgt80 {margin-top:80px !important;} .mgt85 {margin-top:85px !important;} .mgt90 {margin-top:90px !important;} .mgt95 {margin-top:95px !important;} .mgt100 {margin-top:100px !important;}
.mgb0 {margin-bottom:0px !important;} .mgb5 {margin-bottom:5px !important;} .mgb10 {margin-bottom:10px !important;} .mgb15 {margin-bottom:15px !important;} .mgb20 {margin-bottom:20px !important;} .mgb25 {margin-bottom:25px !important;} .mgb30 {margin-bottom:30px !important;} .mgb35 {margin-bottom:35px !important;} .mgb40 {margin-bottom:40px !important;} .mgb45 {margin-bottom:45px !important;} .mgb50 {margin-bottom:50px !important;} .mgb55 {margin-bottom:55px !important;} .mgb60 {margin-bottom:60px !important;} .mgb65 {margin-bottom:65px !important;} .mgb70 {margin-bottom:70px !important;} .mgb75 {margin-bottom:75px !important;} .mgb80 {margin-bottom:80px !important;} .mgb85 {margin-bottom:85px !important;} .mgb90 {margin-bottom:90px !important;} .mgb95 {margin-bottom:95px !important;} .mgb100 {margin-bottom:100px !important;}
.mgl0 {margin-left:0px !important;} .mgl5 {margin-left:5px !important;} .mgl10 {margin-left:10px !important;} .mgl15 {margin-left:15px !important;} .mgl20 {margin-left:20px !important;} .mgl25 {margin-left:25px !important;} .mgl30 {margin-left:30px !important;} .mgl35 {margin-left:35px !important;} .mgl40 {margin-left:40px !important;} .mgl45 {margin-left:45px !important;} .mgl50 {margin-left:50px !important;} .mgl55 {margin-left:55px !important;} .mgl60 {margin-left:60px !important;} .mgl65 {margin-left:65px !important;} .mgl70 {margin-left:70px !important;} .mgl75 {margin-left:75px !important;} .mgl80 {margin-left:80px !important;} .mgl85 {margin-left:85px !important;} .mgl90 {margin-left:90px !important;} .mgl95 {margin-left:95px !important;} .mgl100 {margin-left:100px !important;}
.mgr0 {margin-right:0px !important;} .mgr5 {margin-right:5px !important;} .mgr10 {margin-right:10px !important;} .mgr15 {margin-right:15px !important;} .mgr20 {margin-right:20px !important;} .mgr25 {margin-right:25px !important;} .mgr30 {margin-right:30px !important;} .mgr35 {margin-right:35px !important;} .mgr40 {margin-right:40px !important;} .mgr45 {margin-right:45px !important;} .mgr50 {margin-right:50px !important;} .mgr55 {margin-right:55px !important;} .mgr60 {margin-right:60px !important;} .mgr65 {margin-right:65px !important;} .mgr70 {margin-right:70px !important;} .mgr75 {margin-right:75px !important;} .mgr80 {margin-right:80px !important;} .mgr85 {margin-right:85px !important;} .mgr90 {margin-right:90px !important;} .mgr95 {margin-right:95px !important;} .mgr100 {margin-right:100px !important;}
 
.container{max-width:1640px;margin-left:auto;margin-right:auto;padding-left: 20px;padding-right: 20px;}
.container_md{max-width:1320px;margin-left:auto;margin-right:auto;padding-left: 20px;padding-right: 20px;}
.container_sm{max-width:480px;margin-left:auto;margin-right:auto;}
@media screen and (max-width: 1100px) {
	.container,.container_md,.container_sm{padding-left:16px;padding-right:16px;}
}
label{cursor:pointer;}
select{appearance:none; -webkit-appearance:none; box-sizing:border-box;
height:40px;border:1px solid #d0d0d0;background-color:#fff;padding-left:12px;color:#333;
background-position: right 30px center;background-repeat: no-repeat;background-image: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L7 7L13 1' stroke='%232D2D2D' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");}
select::-ms-expand {display:none;}
select.size_lg{height:56px;height:56px;font-size:2rem;color:#2d2d2d;padding-left:24px;border-radius: 10px;font-weight:500;}
.wid_pc_27{width:270px;}

@media screen and (max-width: 1600px) {
  .pc_only{display: none !important;}
}
@media screen and (max-width: 1100px) {
  select.size_lg{font-size:1.8rem;border-radius: 5px;}
  .wid_mb_100{width:100% !important;}
}
@media screen and (min-width: 1101px) {
  .mobile{display: none !important;}
}
@media screen and (max-width: 1100px) {
  .pc{display: none !important;}
}

input[type="text"],
input[type="password"],
input[type="tel"],
input[type="email"]{height:40px;border:1px solid #d0d0d0;background-color:#fff;padding-left:12px;color:#333;}
textarea{padding:12px;height:54px;min-height:54px;width:100%;min-width:100%;max-width:100%;color:#333;border:1px solid #d0d0d0;border-radius:2px;}
input[type="text"]::placeholder,
input[type="password"]::placeholder,
input[type="tel"]::placeholder,
input[type="email"]::placeholder{opacity:1;color:#999;}
textarea::placeholder{opacity:1;color:#999;}
input[type="text"]:read-only,
input[type="password"]:read-only,
input[type="tel"]:read-only,
input[type="email"]:read-only{background-color:#f8f8f8;color:#666;}
select:disabled{background-color:#f8f8f8;color:#333;opacity:1;}
@media screen and (max-width: 1100px) {
	input[type="text"],
	input[type="password"],
	input[type="tel"],
	input[type="email"]{height:48px;padding-left:13px;}
}
textarea:read-only{background-color:#f8f8f8;color:#666;}
textarea:focus,
select:focus,
input:focus,
.datepicker:focus{border:1px solid #333 !important;}
.datepicker:active{border:1px solid #333 !important;}


.scroll_reveal{opacity:0;transition-delay: .2s;transition:opacity 1s ease,transform 1s ease;}
.scroll_reveal.to_top{transform:translateY(-60px);}
.scroll_reveal.to_bottom{transform:translateY(60px);}
.scroll_reveal.to_left{transform:translateX(60px);}
.scroll_reveal.to_right{transform:translateX(-60px);}
.scroll_reveal.to_top.reveal_sm{transform:translateY(-30px);}
.scroll_reveal.to_bottom.reveal_sm{transform:translateY(30px);}
.scroll_reveal.to_left.reveal_sm{transform:translateX(30px);}
.scroll_reveal.to_right.reveal_sm{transform:translateX(-30px);}

.scroll_reveal.reveal_delay_1{transition-delay: 0.1s;}
.scroll_reveal.reveal_delay_2{transition-delay: 0.2s;}
.scroll_reveal.reveal_delay_3{transition-delay: 0.3s;}
.scroll_reveal.reveal_delay_4{transition-delay: 0.4s;}

.scroll_reveal.is_visible,
.scroll_reveal.is_visible{opacity:1 !important;transform:translateY(0) !important;}

.reveal_delay_1{transition-delay: 0.1s;}
.reveal_delay_2{transition-delay: 0.2s;}
.reveal_delay_3{transition-delay: 0.3s;}
.reveal_delay_4{transition-delay: 0.4s;}
.reveal_delay_5{transition-delay: 0.5s;}
.reveal_delay_6{transition-delay: 0.6s;}
.reveal_delay_7{transition-delay: 0.7s;}
.reveal_delay_8{transition-delay: 0.8s;}
.reveal_delay_9{transition-delay: 0.9s;}
.reveal_delay_10{transition-delay: 1s;}

@media screen and (max-width: 1100px){
  .scroll_reveal.to_top{transform:translateY(-30px);}
  .scroll_reveal.to_top.reveal_sm{transform:translateY(-15px);}
  .scroll_reveal.to_bottom{transform:translateY(30px);}
  .scroll_reveal.to_bottom.reveal_sm{transform:translateY(15px);}
  .scroll_reveal.to_left{transform:translateX(30px);}
  .scroll_reveal.to_left.reveal_sm{transform:translateX(15px);}
  .scroll_reveal.to_right{transform:translateX(-30px);}
  .scroll_reveal.to_right.reveal_sm{transform:translateX(-15px);}
}