@charset "utf-8";

#header_h1 { position: absolute; font-size: 0; line-height: 0; overflow: hidden; } 
#layout{display:flex;flex-direction: column;min-height:100vh;background-color:#fff;}
#header{position:fixed;z-index:300;left:0;top:0;width:100%;padding:0 50px;transition: all 1s, background 0s;}
#header.bg{background-color:#fff;}
#header *{}
.header_inner{display: flex;align-items: center;justify-content: center;height:100px;position: relative;}
#logo {position: absolute;z-index:5;left:0;top:50%;transform: translate(0, -50%);transition: opacity 0.3s cubic-bezier(.4,0,.2,1), transform 0.3s cubic-bezier(.4,0,.2,1), visibility 0.3s;}
#logo img {width: 219px;}
#nav {margin:0 auto;display: flex;justify-content: center;height: 100%;transition: opacity 0.3s cubic-bezier(.4,0,.2,1), transform 0.3s cubic-bezier(.4,0,.2,1), visibility 0.3s;}
#nav::after { content:""; position:absolute; left:-50px; right:-50px; top:0; height: calc(var(--nav-after-height, 400%) + 100px); background:#fff; box-shadow:0 10px 30px rgba(121,129,144,.1);clip-path: inset(0 0 -30px 0); opacity:0; visibility:hidden; transform: translateY(-20px); transition: opacity .25s, transform .25s, visibility .25s, height .25s; z-index:2; }
#nav::before {content: "";opacity:0;position: fixed;z-index:80;left:0;top:100px;width:100%;height:0;background-color: rgba(121,129,144,.2);transition: opacity .25s, transform .25s, visibility .25s, height .25s;pointer-events: none;}
#nav > li {position: relative;z-index:5;}
#nav > li > a {color:#2d2d2d;font-size:1.9rem;font-weight:500;width:240px;height: 100%;display: flex;align-items: center;justify-content: center;white-space: nowrap;}
#nav > li > ul {position:absolute;left:0;top:100%;width:100%;height:var(--nav-after-height);display: flex;flex-direction: column;justify-content: start;padding:30px 0;text-align: center;
visibility: hidden;pointer-events: none; opacity:0; transform: translateY(-15px); transition: opacity .35s, transform .35s, visibility .35s; z-index:60;}
#nav:hover > li > ul{border-right:1px solid rgba(121,129,144,.08);}
#nav:hover > li:first-child > ul{border-left:1px solid rgba(121,129,144,.08);}
#nav > li > ul > li { opacity:0; transform: translateY(6px); transition: opacity .25s, transform .25s; }
#nav > li > ul > li > a {display: block;color:#2d2d2d;font-size:1.7rem;font-weight: 500;padding:11px 0;position: relative;}
#nav > li > ul > li > a:hover{color:#3492E9;}
#nav:hover::after{ opacity:1; visibility:visible; transform: translateY(0); }
#nav:hover > li > ul{ visibility:visible; opacity:1; transform: translateY(0); pointer-events:auto; }
#nav:hover > li > ul > li{ opacity:1; transform: translateY(0); }
#nav > li:hover > a:before{ content:""; position:absolute;z-index:90; left:0; bottom:0; width:100%; height:4px; background:#3492E9; }
#nav > li:hover > ul{background-color: #F8F9FB;}
#nav:hover { filter:none; }
#nav > li:after{ z-index:54; }
#nav:hover:before {opacity:1;height:1px;}
html.menu_all_open #nav{opacity:0; visibility: hidden;transform: translateY(-15px);}
#header .hd_right {position: absolute;z-index:5;right:0;top:50%;transform: translate(0,-50%);display: flex;align-items: center;gap:13px;}
.hd_language {display: flex;overflow: hidden;}
.hd_language .item {position: relative;}
.hd_language .item a {color:#2d2d2d;font-size:1.5rem;font-weight:500;display: flex;align-items: center;justify-content: center;border-radius: 20em;height:48px;width: 69px;}
.hd_language .item a:hover {color:#000;}
.hd_language .item a.active{border:2px solid #2d2d2d;font-weight:700;}
#nav_all_button{width:38px;height:48px;border:0;background-color: transparent;display: flex;flex-direction: column;align-items: center;justify-content: center;gap:5px;}
#nav_all_button strong{display: block;height:3px;width:22px;background-color: #2d2d2d;border-radius: 1rem;transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);transform-origin: center;}
#nav_all_button:hover strong{background-color: #000;}
#nav_all_button:hover strong:nth-child(2){transition: all 0.2s;}
#nav_all_button:hover:not(.close) strong:nth-child(1) { animation: swingTop 0.5s ease-in-out 1; }
#nav_all_button:hover:not(.close) strong:nth-child(3) { animation: swingBottom 0.5s ease-in-out 1; }
#nav_all_button.close strong:nth-child(1) { transform: translateY(8px) rotate(45deg) scale(1.1);width:25px; }
#nav_all_button.close strong:nth-child(2) { transform: scale(0); opacity: 0; }
#nav_all_button.close strong:nth-child(3) { transform: translateY(-8px) rotate(-45deg) scale(1.1);width:25px; }
#nav_all_button:not(.close) strong:nth-child(1),
#nav_all_button:not(.close) strong:nth-child(3) { transform: translateY(0) rotate(0deg) scale(1); }
#nav_all_button.close { animation: menuPop 0.35s ease-in-out; }
@keyframes menuPop {
  0%   { transform: scale(1); }
  40%  { transform: scale(1.2) rotate(8deg); }
  60%  { transform: scale(0.95) rotate(-4deg); }
  100% { transform: scale(1); }
}

@keyframes swingTop {
  0%   { transform: translateY(0) rotate(0deg); }
  25%  { transform: translateY(-2px) rotate(10deg); }
  50%  { transform: translateY(1px) rotate(5deg); }
  75%  { transform: translateY(-1px) rotate(-5deg); }
  100% { transform: translateY(0) rotate(0deg); }
}
@keyframes swingBottom {
  0%   { transform: translateY(0) rotate(0deg); }
  25%  { transform: translateY(2px) rotate(-10deg); }
  50%  { transform: translateY(-1px) rotate(-5deg); }
  75%  { transform: translateY(1px) rotate(5deg); }
  100% { transform: translateY(0) rotate(0deg); }
}

@media screen and (max-width: 1700px) {
  #header{padding:0;}
  .header_inner{max-width:1640px;margin-left:auto;margin-right:auto;}
  #logo{left:20px;}
  #header .hd_right{right:20px;}
}
@media screen and (max-width: 1600px) {
  #logo img {width: 180px;}
  #nav > li > a {font-size:1.8rem;width:170px;}
  #nav > li > ul {padding:20px 0;}
  #nav > li > ul > li > a {font-size:1.5rem;padding:8px 0;}
  .hd_language .item a {font-size:1.4rem;height:42px;padding:0 18px;}
  #nav_all_button{width:34px;height:42px;gap:6px;}
  #nav_all_button strong{height:2px;}
}
@media screen and (max-width: 1100px) {
  .header_inner{height:72px;}
  #logo img {width: auto;height: 24px;}
  #nav{visibility: hidden;opacity: 0;transform: translateY(-15px);}
  #nav::after { left:0; right:0; }
  #nav::before {display: none;}
  #header .hd_right {gap:8px;}
  .hd_language .item a {font-size:1.2rem;font-weight:500;height:32px;width: 49px;}
  .hd_language .item a.active{padding:0 15px;}
  #nav_all_button{height:32px;}
  #nav_all_button:hover strong{background-color: #000;}
  #nav_all_button:hover strong:nth-child(2){transition: all 0.2s;}
  #nav_all_button:hover:not(.close) strong:nth-child(1) { animation: swingTop 0.5s ease-in-out 1; }
  #nav_all_button:hover:not(.close) strong:nth-child(3) { animation: swingBottom 0.5s ease-in-out 1; }
  #nav_all_button.close strong:nth-child(1) { transform: translateY(8px) rotate(45deg) scale(1.1);width:25px; }
  #nav_all_button.close strong:nth-child(2) { transform: scale(0); opacity: 0; }
  #nav_all_button.close strong:nth-child(3) { transform: translateY(-8px) rotate(-45deg) scale(1.1);width:25px; }
  #nav_all_button:not(.close) strong:nth-child(1),
  #nav_all_button:not(.close) strong:nth-child(3) { transform: translateY(0) rotate(0deg) scale(1); }
  #nav_all_button.close { animation: menuPop 0.35s ease-in-out; }

  html.menu_all_open #logo{visibility: hidden;opacity: 0;transform: translateY(-75%);}
}

#nav_all_wrap{position: fixed;z-index: 40;;left:0;top:0;display: flex;width:100%;height:100%;align-items: center;pointer-events: none;padding:125px 160px 25px;text-align: center;
background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.8) 100%);backdrop-filter: blur(15px);opacity: 0;
visibility: hidden; transform: translateY(-50px); transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;}
#nav_all_wrap > ul{display: flex;width: 100%;}
#nav_all_wrap > ul > li{flex:1 1;padding-top:24px;padding-bottom:40px;}
#nav_all_wrap > ul > li + li{border-left:1px solid #E4E6E9;}
#nav_all_wrap > ul > li > a{display: block;font-size:3.6rem;font-weight:700;}
#nav_all_wrap > ul > li > a span{display: inline-block;position: relative;padding:16px 0;}
#nav_all_wrap > ul > li > a span:before{content:"";width:100%;height:4px;background-color: #3492E9;position: absolute;left:0;bottom:0;visibility: hidden; opacity:0; pointer-events:none; transform: translateY(-10px); transition: opacity .25s, transform .25s, visibility .25s;}
#nav_all_wrap > ul > li:hover > a span:before{visibility:visible;opacity:1; transform: translateY(0);}
#nav_all_wrap > ul > li > ul{display: flex;flex-direction: column;gap:32px;font-size:2.1rem;margin-top:32px;}
#nav_all_wrap > ul > li > ul > li{}
#nav_all_wrap > ul > li > ul > li > a{display: block;font-weight: 500;}
#nav_all_wrap > ul > li > ul > li > a:hover{color:#3492E9;}
#nav_all_wrap > ul > li > ul > li > ul{display: flex;flex-direction: column;gap:32px;margin-top:32px;}
#nav_all_wrap > ul > li > ul > li > ul > li{}
#nav_all_wrap > ul > li > ul > li > ul > li > a{display:block;color:#555;font-weight:400;}
#nav_all_wrap > ul > li > ul > li > ul > li > a:hover{color: #3492E9;}
#nav_all_wrap.show { opacity: 1; visibility: visible; transform: translateY(0); pointer-events: auto} 

#nav_all_wrap.show > ul > li { opacity: 1; transform: translate(0); }
#nav_all_wrap.show > ul > li:nth-child(1) { transition-delay: 0.15s; }
#nav_all_wrap.show > ul > li:nth-child(2) { transition-delay: 0.30s; }
#nav_all_wrap.show > ul > li:nth-child(3) { transition-delay: 0.45s; }
#nav_all_wrap.show > ul > li:nth-child(4) { transition-delay: 0.60s; }
@media screen and (max-width: 1600px), screen and (max-height: 1050px) {
  #nav_all_wrap > ul > li { padding-top: 17px; padding-bottom: 28px; }
  #nav_all_wrap > ul > li > a { font-size: 2.5rem; padding: 11px 0; }
  #nav_all_wrap > ul > li > ul { gap: 22px; font-size: 1.7rem; margin-top: 22px; }
  #nav_all_wrap > ul > li > ul > li > ul { gap: 22px; margin-top: 22px; }
}
@media screen and (max-width: 1600px){
  #nav_all_wrap{padding:125px 80px;}
}


@media screen and (min-width: 1101px){
  #nav_all_wrap > ul > li > ul{height: auto !important;padding:0 !important;visibility: visible !important;}
  #nav_all_wrap > ul > li { opacity: 0; transform: translateY(24px); transition: opacity 0.65s ease, transform 0.65s ease; }
}
@media screen and (max-width: 1100px){
  #nav_all_wrap{padding:88px 16px 16px;backdrop-filter: blur(0);text-align: left;overflow-y: auto;background-color: #fff;align-items: start;}
  #nav_all_wrap > ul{flex-direction: column;gap: 16px;}
  #nav_all_wrap > ul > li{padding-top:0;padding-bottom:0;}
  #nav_all_wrap > ul > li + li{border-left:0;}
  #nav_all_wrap > ul > li > a{font-size:2.1rem;padding:8px;position: relative;}
  #nav_all_wrap > ul > li > a:after{content:"";position: absolute;right:8px;top:50%;margin-top:-12px;width:24px;height:24px;background-position: center center;background-repeat: no-repeat;background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 9L12 15L6 9' stroke='%232D2D2D' stroke-width='2'/%3E%3C/svg%3E%0A");transition: all 0.3s ease;}
  #nav_all_wrap > ul > li > a span:before{display: none;}
  #nav_all_wrap > ul > li > ul{gap:0;font-size:1.7rem;margin:0;gap:0;background-color: #F8F9FB;border-radius: 15px;height:0;overflow: hidden;visibility: hidden;transition: all 0.5s ease;}
  #nav_all_wrap > ul > li > ul > li:first-child{margin-top:16px;}
  #nav_all_wrap > ul > li > ul > li:last-child{margin-bottom:16px;}
  #nav_all_wrap > ul > li > ul > li > a{padding:11px 24px;}
  #nav_all_wrap > ul > li > ul > li > a:hover{font-weight: 500;}
  #nav_all_wrap > ul > li > ul > li > ul{gap:0;margin-top:0;}
  #nav_all_wrap > ul > li > ul > li > ul > li > a{padding:11px 24px;}
  #nav_all_wrap > ul > li > ul > li > ul > li > .active{color: #3492E9;}
  #nav_all_wrap > ul > li.active > a:after{transform: rotate(-180deg);}
  #nav_all_wrap > ul > li.active > ul{visibility: visible;}
  html.menu_all_open{overflow-y: hidden;}

  #nav_all_wrap > ul > li { opacity: 0; transform: translateX(-24px); transition: opacity 0.65s ease, transform 0.65s ease; }
}

#footer {background-color: #2D2D2D;color:#C5C9D1;padding:60px 30px 80px;margin-top:auto;word-break: keep-all;position: relative;z-index: 10;}
.ft_inner {padding:0 20px;}
.ft_logo {}
.ft_logo img{width: 219px;}
.ft_top{padding:16.5px 0;display: flex;justify-content: space-between;position: relative;}
.ft_bottom{display: flex;margin-top:40px;}
.ft_info {display: flex;flex-wrap: wrap;gap:12px 24px;font-weight:500;flex:1 1 auto;}
.ft_info .info {}
.ft_info .info.ads{width: 100%;}
.ft_copy {margin-left:auto;margin-top:auto;text-align: right;white-space: nowrap;}
@media screen and (max-width: 1705px){
  #footer {padding:50px 0 70px;}
  .ft_inner {max-width:1640px;margin-left:auto;margin-right:auto;}
}
@media screen and (max-width: 1600px) {
  #footer {font-size:1.6rem;}
  .ft_logo img{width: 180px;}
  .ft_top{padding:12px 0;}
  .ft_bottom{margin-top:30px;}
  .ft_info {gap:10px 20px; }
}
@media screen and (max-width: 1100px){
  #footer {padding:32px 0;font-size:1.4rem;}
  .ft_logo img{width: 141px;}
  .ft_top{padding:10px 0;}
  .ft_bottom{flex-direction: column;margin-top:16px;}
  .ft_info {flex-direction: column;gap:4px;font-weight:400;}
  .ft_info .info.ads{margin-bottom:4px;}
  .ft_copy {text-align: left;margin:16px 0 0 0;white-space: normal;}
}

#to_top_wrap{position: absolute;right:0;top:0;}
#to_top{display: none;position: fixed;bottom:50px;right:50px;bottom:100px;overflow: hidden;background: rgba(121, 129, 144, 0.4);border-radius: 50%;color:#fff;width:65px;height: 65px;border:0;font-size:1.6rem;font-weight: 700;}
#to_top span{position: relative;z-index: 5;}
#to_top:before{content:"";position: absolute;left:-5%;bottom:-5%;width:110%;height:0;background: rgba(121, 129, 144, 0.4);transition: all 0.3s;filter: blur(3px);}
#to_top:hover:before{height: 110%;}
#to_top.is-show{ display: block;}
#to_top_wrap.is-bottom #to_top { position: absolute; left:auto; right:0; bottom:auto; top:0; margin-left:0; }

@media screen and (max-width: 1704px) and (min-width: 1641px) {
  #to_top{left:auto;left:50%;margin-left:735px;right:auto;}
}
@media screen and (max-width: 1640px){
  #to_top{right:20px;}
}
@media screen and (max-width: 1100px){
  #to_top_wrap{top:-3px;}
  #to_top{width:48px;height: 48px;font-size:1.4rem;}
}


#content{margin-bottom:120px;}
@media screen and (max-width: 1100px) {
    #content{margin-bottom:80px;}
}